{% import "macros/params.jinja2" as params %}
include("{{ class.bare_type }}Struct.jl")
{% for include in includes_jl['constructor'] %}
{{ include }}
{% endfor %}

module {{ class.bare_type }}Module
export {{ class.bare_type }}

function {{ class.bare_type }}()
	return Main.{{ class.bare_type }}Struct{{ params.julia_parameters(params_jl, "Main.", "Struct") }}(
	{% for member in Members %}
	{% if member.is_array %}
	Main.{{ member.julia_type }}(undef),
	{% elif member.is_builtin %}
	{{ member.julia_type }}(0),
	{% else %}
	Main.{{ member.julia_type }}(),
	{% endif %}
	{% endfor %}
	{% for relation in OneToManyRelations %}
	Vector{ Main.{{ relation.julia_type }}Struct }(),
	{% endfor %}
	{% for relation in OneToOneRelations %}
	nothing,
	{% endfor %}
	{% for member in VectorMembers %}
	Vector{ {{ member.julia_type }} }([]),
	{% endfor %}
	)
end
end