{% for include in includes_jl %}
{{ include }}
{% endfor %}

mutable struct {{ class.bare_type }}
{% for member in Members %}
	{{member.name}}::{{member.julia_type }}
{% endfor %}
{% for relation in OneToManyRelations %}
	{{relation.name}}::{{relation.julia_type }}
{% endfor %}
{% for relation in OneToOneRelations %}
	{{relation.name}}::{{relation.julia_type }}
{% endfor %}
{% for member in VectorMembers %}
	{{member.name}}::Vector{ {{member.julia_type }} }
{% endfor %}
end
