{% for include in includes_jl['struct'] %}
{{ include }}
{% endfor %}

{% macro julia_parameters(params) %}
{%- if params_jl -%}{
{%- set comma = joiner(',') -%}
{%- for par in params -%}
{{ comma() }}{{ par }}T
{%- endfor -%}
}{%- endif -%}
{% endmacro %}

mutable struct {{ class.bare_type }}Struct{{ julia_parameters(params_jl) }}

{% for member in Members %}
	{% if member.is_array or member.is_builtin %}
	{{ member.name }}::{{ member.julia_type }}
	{% else %}
	{{ member.name }}::Main.{{ member.julia_type }}Struct
	{% endif %}
{% endfor %}

{% for relation in OneToManyRelations %}
	{{ relation.name }}::Vector{ {{ relation.julia_type }}T }
{% endfor %}
{% for relation in OneToOneRelations %}
	{{ relation.name }}::Union{Nothing, {{ relation.julia_type }}T }
{% endfor %}
{% for member in VectorMembers %}
	{{ member.name }}::Vector{ {{ member.julia_type }} }
{% endfor %}
end
