{% for include in includes_jl['struct'] %}
{{ include }}
{% endfor %}
mutable struct {{ class.bare_type }}{% if params_jl %}{ {% for relation in params_jl %} {{ relation }}T, {% endfor %} }{% endif %}

{% for member in Members %}
	{{ member.name }}::{{ member.julia_type }}
{% endfor %}
{% for relation in OneToManyRelations %}
	{{ relation.name }}::Vector{ {{ relation.julia_type }}T }
{% endfor %}
{% for relation in OneToOneRelations %}
	{{ relation.name }}::Union{Nothing, {{ relation.julia_type }}T }
{% endfor %}
{% for member in VectorMembers %}
	{{ member.name }}::Vector{ {{ member.julia_type }} }
{% endfor %}
end