{% for value in children %}
{% for childvalue in value['child']['Components'] +  value['child']['Datatypes'] +  value['child']['Collections'] %}
include("{{ childvalue }}.jl")
{% endfor %}
{% endfor %}

{% for value in children %}
module {{  value['parent']|capitalize }}
{% for childvalue in  value['child']['Components'] +  value['child']['Datatypes'] %}
using ..{{childvalue}}Module: {{childvalue}}
export {{childvalue}}
{% endfor %}
end

{% endfor %}
