{% for child in children['Components'] + children['Datatypes'] %}
include("{{ child }}.jl")
{% endfor %}

module {{ class.bare_type }}

{% for child in children['Components']%}
using ..{{child}}Module: {{child}}
export {{child}}
{% endfor %}

{% for child in children['Collections'] %}
include("{{ child }}.jl")
{% endfor %}

end