{% import "macros/params.jinja2" as params %}
{% import "macros/abstracttypes.jinja2" as abstdatatype %}
{% if upstream_edm %}
include("{{ upstream_edm.options["includeSubfolder"] }}{{ upstream_edm_name }}.jl")
{% endif %}

module {{ class.bare_type }}
{% for component in components %}
export {{ component['class'].bare_type }}
{% endfor %}
{% for datatype in datatypes %}
export {{ datatype['class'].bare_type }}
export {{ datatype['class'].bare_type }}Collection
{% endfor %}

{% if upstream_edm %}
import ..{{ upstream_edm_name }}
{% endif %}

{% for component in components %}
include("{{ component['class'].bare_type }}Struct.jl")
{% endfor %}
{% for datatype in datatypes %}
include("{{ datatype['class'].bare_type }}Struct.jl")
{% endfor %}

{% for component in components %}
function {{ component['class'].bare_type }}(
{% for member in component['Members'] %}
	{% if member.is_array %}
	{% if member.is_builtin_array %}
	{{ member.name }}::{{ member.julia_type }} = {{ member.julia_type }}(undef),
	{% else %}
	{% if upstream_edm and (member.array_type in upstream_edm.components or member.array_type in upstream_edm.datatypes) %}
	{{ member.name }}::MVector{{ '{' }}{{ member.array_size }}, {{ upstream_edm_name }}.{{ member.array_bare_type }}Struct{{ '}' }} = MVector{{ '{' }}{{ member.array_size }}, {{ upstream_edm_name }}.{{ member.array_bare_type }}Struct{{ '}' }}(undef),
	{% else %}
	{{ member.name }}::{{ member.julia_type }} = {{ member.julia_type }}(undef),
	{% endif %}
	{% endif %}
	{% elif member.is_builtin %}
	{{ member.name }}::{{ abstdatatype.classify_data_type(member.julia_type) }} = {{ member.julia_type }}(0),
	{% else %}
	{% if upstream_edm and (member.full_type in upstream_edm.components or member.full_type in upstream_edm.datatypes) %}
	{{ member.name }}::{{ upstream_edm_name }}.{{ member.julia_type }}Struct = {{ upstream_edm_name }}.{{ member.julia_type }}(),
	{% else %}
	{{ member.name }}::{{ member.julia_type }}Struct = {{ member.julia_type }}(),
	{% endif %}
	{% endif %}
{% endfor %}
{% for relation in component['OneToManyRelations'] %}
	{% if upstream_edm and (relation.full_type in upstream_edm.components or relation.full_type in upstream_edm.datatypes) %}
	{{ relation.name }}::Vector{ {{ upstream_edm_name }}.{{ relation.julia_type }}Struct } = Vector{ {{ upstream_edm_name }}.{{ relation.julia_type }}Struct }(),
	{% else %}
	{{ relation.name }}::Vector{ {{ relation.julia_type }}Struct } = Vector{ {{ relation.julia_type }}Struct }(),
	{% endif %}
{% endfor %}
{% for relation in component['OneToOneRelations'] %}
	{% if upstream_edm and (relation.full_type in upstream_edm.components or relation.full_type in upstream_edm.datatypes) %}
	{{ relation.name }}::Union{Nothing, {{ upstream_edm_name }}.{{ relation.julia_type }}Struct } = nothing,
	{% else %}
	{{ relation.name }}::Union{Nothing, {{ relation.julia_type }}Struct } = nothing,
	{% endif %}
{% endfor %}
{% for member in component['VectorMembers'] %}
	{% if member.is_builtin %}
	{{ member.name }}::Vector{ {{ member.julia_type }} } = Vector{ {{ member.julia_type }} }([]),
	{% else %}
	{% if upstream_edm and (member.full_type in upstream_edm.components or member.full_type in upstream_edm.datatypes) %}
	{{ member.name }}::Vector{ {{ upstream_edm_name }}.{{ member.julia_type }}Struct } = Vector{ {{ upstream_edm_name }}.{{ member.julia_type }}Struct }([]),
	{% else %}
	{{ member.name }}::Vector{ {{ member.julia_type }}Struct } = Vector{ {{ member.julia_type }}Struct }([]),
	{% endif %}
	{% endif %}
{% endfor %}
)
	return {{ component['class'].bare_type }}Struct{{ params.julia_parameters(component['params_jl'], "Struct", upstream_edm, upstream_edm_name) }}(
	{% for member in component['Members'] %}
	{% if member.is_builtin %}
	{{ member.julia_type }}({{ member.name }}),
	{% else %}
	{{ member.name }},
	{% endif %}
	{% endfor %}
	{% for relation in component['OneToManyRelations'] %}
	{{ relation.name }},
	{% endfor %}
	{% for relation in component['OneToOneRelations'] %}
	{{ relation.name }},
	{% endfor %}
	{% for member in component['VectorMembers'] %}
	{{ member.name }},
	{% endfor %}
	)
end

{% endfor %}

{% for datatype in datatypes %}
function {{ datatype['class'].bare_type }}(
{% for member in datatype['Members'] %}
	{% if member.is_array %}
	{% if member.is_builtin_array %}
	{{ member.name }}::{{ member.julia_type }} = {{ member.julia_type }}(undef),
	{% else %}
	{% if upstream_edm and (member.array_type in upstream_edm.components or member.array_type in upstream_edm.datatypes) %}
	{{ member.name }}::MVector{{ '{' }}{{ member.array_size }}, {{ upstream_edm_name }}.{{ member.array_bare_type }}Struct{{ '}' }} = MVector{{ '{' }}{{ member.array_size }}, {{ upstream_edm_name }}.{{ member.array_bare_type }}Struct{{ '}' }}(undef),
	{% else %}
	{{ member.name }}::{{ member.julia_type }} = {{ member.julia_type }}(undef),
	{% endif %}
	{% endif %}
	{% elif member.is_builtin %}
	{{ member.name }}::{{ abstdatatype.classify_data_type(member.julia_type) }} = {{ member.julia_type }}(0),
	{% else %}
	{% if upstream_edm and (member.full_type in upstream_edm.components or member.full_type in upstream_edm.datatypes) %}
	{{ member.name }}::{{ upstream_edm_name }}.{{ member.julia_type }}Struct = {{ upstream_edm_name }}.{{ member.julia_type }}(),
	{% else %}
	{{ member.name }}::{{ member.julia_type }}Struct = {{ member.julia_type }}(),
	{% endif %}
	{% endif %}
{% endfor %}
{% for relation in datatype['OneToManyRelations'] %}
	{% if upstream_edm and (relation.full_type in upstream_edm.components or relation.full_type in upstream_edm.datatypes) %}
	{{ relation.name }}::Vector{ {{ upstream_edm_name }}.{{ relation.julia_type }}Struct } = Vector{ {{ upstream_edm_name }}.{{ relation.julia_type }}Struct }(),
	{% else %}
	{{ relation.name }}::Vector{ {{ relation.julia_type }}Struct } = Vector{ {{ relation.julia_type }}Struct }(),
	{% endif %}
{% endfor %}
{% for relation in datatype['OneToOneRelations'] %}
	{% if upstream_edm and (relation.full_type in upstream_edm.components or relation.full_type in upstream_edm.datatypes) %}
	{{ relation.name }}::Union{Nothing, {{ upstream_edm_name }}.{{ relation.julia_type }}Struct } = nothing,
	{% else %}
	{{ relation.name }}::Union{Nothing, {{ relation.julia_type }}Struct } = nothing,
	{% endif %}
{% endfor %}
{% for member in datatype['VectorMembers'] %}
	{% if member.is_builtin %}
	{{ member.name }}::Vector{ {{ member.julia_type }} } = Vector{ {{ member.julia_type }} }([]),
	{% else %}
	{% if upstream_edm and (member.full_type in upstream_edm.components or member.full_type in upstream_edm.datatypes) %}
	{{ member.name }}::Vector{ {{ upstream_edm_name }}.{{ member.julia_type }}Struct } = Vector{ {{ upstream_edm_name }}.{{ member.julia_type }}Struct }([]),
	{% else %}
	{{ member.name }}::Vector{ {{ member.julia_type }}Struct } = Vector{ {{ member.julia_type }}Struct }([]),
	{% endif %}
	{% endif %}
{% endfor %}
)
	return {{ datatype['class'].bare_type }}Struct{{ params.julia_parameters(datatype['params_jl'], "Struct", upstream_edm, upstream_edm_name) }}(
	{% for member in datatype['Members'] %}
	{% if member.is_builtin %}
	{{ member.julia_type }}({{ member.name }}),
	{% else %}
	{{ member.name }},
	{% endif %}
	{% endfor %}
	{% for relation in datatype['OneToManyRelations'] %}
	{{ relation.name }},
	{% endfor %}
	{% for relation in datatype['OneToOneRelations'] %}
	{{ relation.name }},
	{% endfor %}
	{% for member in datatype['VectorMembers'] %}
	{{ member.name }},
	{% endfor %}
	)
end

{{ datatype['class'].bare_type }}Collection = Vector{ {{ datatype['class'].bare_type }}Struct{{ params.julia_parameters(datatype['params_jl'], "Struct", upstream_edm, upstream_edm_name) }} }

{% endfor %}
end
