{%- macro class_selection(class, prefix='', postfix='', vector=False) %}
{% set full_name = prefix + class.bare_type + postfix %}
{% set namespace = class.namespace + '::' if class.namespace else '' %}
        <class name="{{ namespace }}{{ full_name }}" ClassVersion="{{ version }}"/>
{% if vector %}
        <class name="std::vector<{{ namespace }}{{ full_name }}>" ClassVersion="{{ version }}"/>
{%- endif -%}
{%- endmacro -%}

{%- macro data_class_selection(class, version, suffix="") %}
{% set namespace = class.namespace + '::' if class.namespace else '' %}
{% set class_name = namespace + 'v' + version|string + '::' + class.bare_type + suffix %}
        <class name="{{ class_name }}" ClassVersion="{{ version }}"/>
        <class name="std::vector<{{ class_name }}>"/>
{%- endmacro -%}

{% macro ioread(iorule) %}
        <ioread sourceClass="{{ iorule.sourceClass }}" targetClass="{{ iorule.targetClass}}" version="[{{ iorule.version }}]" target="{{ iorule.target }}" source="{{ iorule.source }}">
        <![CDATA[
	     {{ iorule.code }}
        ]]>
        </ioread>
{% endmacro %}

<lcgdict>
    <selection>

        <!-- components -->
{% for class in components %}
{{ class_selection(class, vector=True) }}
{{ data_class_selection(class, version) }}
{% endfor %}

        <!-- datatypes -->
{% for class in datatypes %}
{{ data_class_selection(class, version, "Data") }}
{{ class_selection(class, postfix='Data', vector=True) }}
{# We need to also create the collections in the selection xml file. #}
{# Otherwise the python interface does not work in gcc builds #}
{# Additionally, in order to allow "direct" access to the user facing classes #}
{# we have to declare them here, otherwise they cannot be easily imported #}
{{ class_selection(class, prefix='Mutable') }}
{{ class_selection(class) }}
{{ class_selection(class, postfix='Collection') }}
{% endfor %}

{% if old_schema_components or old_schema_datatypes %}
        <!-- previous schema components and pods -->
{% endif %}
{% for item in old_schema_components %}
{{ data_class_selection(item.class, item.version) }}
{% endfor %}
{% for item in old_schema_datatypes %}
{{ data_class_selection(item.class, item.version, "Data") }}
{% endfor %}

    </selection>

<!-- I/O rules for invoking the schema evolution mechanism of ROOT -->
{% for iorule in iorules %}
{{ ioread(iorule) }}
{% endfor %}

</lcgdict>
