  for(unsigned int i=0, size=(*m_refCollections)[${counter}]->size();i!=size;++i ) {
    auto id = (*(*m_refCollections)[${counter}])[i];
    ${class}Collection* tmp_coll = nullptr;
    registry->getCollectionFromID(id.collectionID,tmp_coll);
    auto tmp = (*tmp_coll)[id.index];
    m_rel_${name}->emplace_back(tmp);
  }
