   (*m_data)[i].${name}_begin=index;
   (*m_data)[i].${name}_end+=index;
   index = (*m_data)[index].${name}_end;
   for(auto it : (*m_rel_${name}_tmp[i])) {
     if (it.getObjectID().index == albers::ObjectID::untracked)
       throw std::runtime_error("Trying to persistify untracked object");
     (*m_refCollections)[${counter}]->emplace_back(it.getObjectID());
     m_rel_${name}->push_back(it);
   }
