std::vector<${relationtype}>::const_iterator Const${classname}::${relation}_begin() const {
  auto ret_value = m_obj->m_${relation}->begin();
  std::advance(ret_value, m_obj->data.${relation}_begin);
  return ret_value;
}

std::vector<${relationtype}>::const_iterator Const${classname}::${relation}_end() const {
  auto ret_value = m_obj->m_${relation}->begin();
  std::advance(ret_value, m_obj->data.${relation}_end-1);
  return ++ret_value;
}
