#include "${name}Entry.h"

${name}Entry::${name}Entry() :
    data(),
    id{albers::ObjectID::untracked,albers::ObjectID::untracked},
    ref_counter(1) { }

${name}Entry::${name}Entry(const albers::ObjectID id, ${name}Data data) :
    data(data),
    id(id),
    ref_counter(-1) { }

${name}Entry::${name}Entry(const ${name}Entry& other) :
    data(),
    id{albers::ObjectID::untracked,albers::ObjectID::untracked},
    ref_counter(0) { }

${name}Entry::~${name}Entry() {


}
