#ifdef __CINT__

#include <vector>
#include "albers/CollectionBase.h"

#pragma link off all globals;
#pragma link off all classes;
#pragma link off all functions;
#pragma link C++ nestedclasses;

$classes

#pragma link C++ class albers::CollectionBase+;
#pragma link C++ class albers::Registry+;

#pragma link C++ class PyEventStore+;

#endif
