#include "${name}Obj.h"

${name}Obj::${name}Obj() :
    data(),
    id{albers::ObjectID::untracked,albers::ObjectID::untracked},
    ref_counter(1) { }

${name}Obj::${name}Obj(const albers::ObjectID id, ${name}Data data) :
    data(data),
    id(id),
    ref_counter(-1) { }

${name}Obj::${name}Obj(const ${name}Obj& other) :
    data(),
    id{albers::ObjectID::untracked,albers::ObjectID::untracked},
    ref_counter(0) { }

${name}Obj::~${name}Obj() {


}
