<lcgdict>
    <selection>
    <class name="albers::CollectionIDTable">
        <field name="m_mutex" transient="true"/>
    </class>
        <class name="albers::ObjectID"/>
        <class name="vector<albers::ObjectID>"/>

$classes

    </selection>
</lcgdict>
