name: coverity

on:
  # schedule:
  #   - cron:  '0 0 * * *'
  push

jobs:
  run-coverity:
    runs-on: ubuntu-latest
    if: github.repository == 'AIDASoft/podio'
    steps:
    - uses: actions/checkout@v3
    - uses: cvmfs-contrib/github-action-cvmfs@v3
    - uses: aidasoft/run-lcg-view@v4
      with:
        coverity-cmake-command: 'cmake -DCMAKE_CXX_STANDARD=17  -DENABLE_SIO=ON -DENABLE_JULIA=ON -DUSE_EXTERNAL_CATCH2=OFF ..'
        coverity-project: 'AIDASoft%2Fpodio'
        coverity-project-token: ${{ secrets.PODIO_COVERITY_TOKEN }}
        github-pat: ${{ secrets.READ_COVERITY_IMAGE }}
        release-platform: "LCG_104/x86_64-el9-gcc13-opt"
#        coverity-container: "ghcr.io/aidasoft/coverity:el9"
