name: key4hep

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ["el9"]
        cvmfs_repo: ["sw.hsf.org", "sw-nightlies.hsf.org"]
        include:
          - image: "ubuntu2404"
            cvmfs_repo: "sw-nightlies.hsf.org"
          - image: "ubuntu2204"  # gcc-11 compatibility
            cvmfs_repo: "sw.hsf.org"

    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: key4hep/key4hep-actions/cache-external-data@main
    - uses: aidasoft/run-lcg-view@v5
      with:
        container: ${{ matrix.image }}
        view-path: /cvmfs/${{ matrix.cvmfs_repo }}/key4hep
        ccache-key: ccache-key4hep-${{ matrix.image }}-${{ matrix.cvmfs_repo }}
        run: |
          echo "::group::Run k4_local_repo"
          k4_local_repo
          echo "::group::Run CMake"
          cmake --preset ci-build \
            -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
            -DUSE_EXTERNAL_CATCH2=AUTO \
            -DPODIO_RUN_STRACE_TEST=ON
          echo "::endgroup::"
          echo "::group::Build"
          cmake --build --preset ci-build
          echo "::endgroup"
          echo "::group::Run tests"
          ctest --preset ci-build -j$(nproc)
          echo "::endgroup::"
          echo "::group::Install"
          cmake --build --preset ci-build --target install
          echo "::endgroup::"
