name: pre-commit

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: aidasoft/run-lcg-view@v4
      with:
        container: el9
        view-path: /cvmfs/sw-nightlies.hsf.org/key4hep
        run: |
          echo "::group::Setup git"
          # Newer versions of git are more cautious around the github runner
          # environment and without this git rev-parse --show-cdup in pre-commit
          # fails
          git config --global --add safe.directory $(pwd)
          echo "::endgroup::"
          echo "::group::Run CMake"
          cmake -B build -S . \
            --preset ci-build \
            -DENABLE_JULIA=ON \
            -DUSE_EXTERNAL_CATCH2=OFF
          ln -s build/compile_commands.json compile_commands.json
          echo "::endgroup::"
          echo "::group::Run pre-commit"
          pre-commit run --show-diff-on-failure \
            --color=always \
            --all-files
          echo "::endgroup::"
