name: sanitizers

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc13, clang16]
        # Since Leak is usually part of Address, we do not run it separately in
        # CI. Keeping Address and Undefined separate for easier debugging
        sanitizer: [Thread,
                    Address,
                    Undefined]
        # Memory sanitizer triggers on almost anything and some of the things
        # are outside our control. Additionally, there seem to be
        # inconsistencies between local and CI runs, so disabling this for now
        #
        # include:
        #   # Memory sanitizer is not available for gcc
        #   - compiler: clang10
        #     sanitizer: MemoryWithOrigin
    steps:
      - uses: actions/checkout@v4
      - uses: cvmfs-contrib/github-action-cvmfs@v4
      - uses: aidasoft/run-lcg-view@v4
        with:
          release-platform: LCG_106b/x86_64-el9-${{ matrix.compiler }}-opt
          run: |
            echo "::group::Run CMake"
            mkdir build
            cd build
            cmake -DCMAKE_BUILD_TYPE=Debug \
              -DUSE_SANITIZER=${{ matrix.sanitizer }} \
              -DCMAKE_CXX_STANDARD=20 \
              -DCMAKE_CXX_FLAGS=" -fdiagnostics-color=always " \
              -DUSE_EXTERNAL_CATCH2=OFF \
              -DENABLE_SIO=ON \
              -DENABLE_JULIA=ON \
              -DENABLE_RNTUPLE=ON \
              -G Ninja ..
            echo "::endgroup::"
            echo "::group::Build"
            ninja -k0
            echo "::endgroup::"
            echo "::group::Julia StaticArrays Package Install"
            julia -e 'import Pkg; Pkg.add("StaticArrays")'
            echo "::endgroup"
            echo "::group::Run tests"
            ctest --output-on-failure
            echo "::endgroup::"
