name: linux

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["dev3/x86_64-el9-gcc15-opt",
              "dev4/x86_64-el9-clang19-opt",
              "dev4/x86_64-el9-gcc15-opt",
              "LCG_108/x86_64-el9-gcc15-opt",  # root 6.36.02 with c++23
              "LCG_107/x86_64-el9-gcc13-opt",  # root 6.34.02 !minimal root version for RNTuple
              "LCG_104/x86_64-el9-gcc13-opt"]  # root 6.28.04 !minimal root version check
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: key4hep/key4hep-actions/cache-external-data@main
    - uses: aidasoft/run-lcg-view@v5
      with:
        release-platform: ${{ matrix.LCG }}
        ccache-key: ccache-el9-${{ matrix.LCG }}
        run: |
          echo "::group::Run CMake"
          # export JULIA_DEPOT_PATH="$(mktemp -d -p /tmp -t julia_depot_XXXXX):"
          cmake --preset ci-build \
            -DENABLE_JULIA=ON \
            -DENABLE_RNTUPLE=$([[ ${{ matrix.LCG }} == LCG_104/* ]] && echo "OFF" || echo "ON") \
            -DPODIO_RUN_STRACE_TEST=$([[ ${{ matrix.LCG }} == LCG_104/* ]] && echo "OFF" || echo "ON") \
            -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
            -DUSE_EXTERNAL_CATCH2=AUTO
          echo "::endgroup::"
          echo "::group::Build"
          cmake --build --preset ci-build
          echo "::endgroup::"
          echo "::group::Julia StaticArrays Package Install"
          # # Temporary workaround for https://its.cern.ch/jira/browse/SPI-2838
          # JULIA_DEPOT_PATH=$(pwd)/.julia julia -e 'import Pkg'
          julia -e 'import Pkg; Pkg.add("StaticArrays")'
          echo "::endgroup"
          echo "::group::Run tests"
          ctest --preset ci-build
          echo "::endgroup::"
          echo "::group::Install"
          cmake --build --preset ci-build --target install
          echo "::endgroup::"
