
name: ubuntu

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["dev3/x86_64-ubuntu2404-gcc13-opt",
              "dev4/x86_64-ubuntu2404-gcc13-opt"]
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: key4hep/key4hep-actions/cache-external-data@main
    - uses: aidasoft/run-lcg-view@v5
      with:
        release-platform: ${{ matrix.LCG }}
        ccache-key: ccache-ubuntu-${{ matrix.LCG }}
        run: |
          echo "::group::Run CMake"
          cmake -S . --preset ci-build \
            -DENABLE_JULIA=ON \
            -DCMAKE_INSTALL_PREFIX=../install \
            -DCMAKE_CXX_STANDARD=20 \
            -DUSE_EXTERNAL_CATCH2=OFF \
            -DPODIO_RUN_STRACE_TEST=ON
          echo "::endgroup::"
          echo "::group::Build"
          cmake --build --preset ci-build
          echo "::endgroup"
          echo "::group::Julia StaticArrays Package Install"
          julia -e 'import Pkg; Pkg.add("StaticArrays")'
          echo "::endgroup"
          echo "::group::Run tests"
          ctest --preset ci-build
          echo "::endgroup::"
          echo "::group::Install"
          cmake --build --preset ci-build --target install
          echo "::endgroup::"
