name: ubuntu

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sio: [ON]
        LCG: ["LCG_102/x86_64-ubuntu2004-gcc9-opt",
              "dev3/x86_64-ubuntu2004-gcc9-opt",
              "dev4/x86_64-ubuntu2004-gcc9-opt"]
    steps:
    - uses: actions/checkout@v2
    - uses: cvmfs-contrib/github-action-cvmfs@v3
    - uses: aidasoft/run-lcg-view@v4
      with:
        release-platform: ${{ matrix.LCG }}
        run: |
          echo "::group::Run CMake"
          mkdir build install
          cd build
          cmake -DENABLE_SIO=${{ matrix.sio }} \
            -DCMAKE_INSTALL_PREFIX=../install \
            -DCMAKE_CXX_STANDARD=17 \
            -DCMAKE_CXX_FLAGS=" -fdiagnostics-color=always -Werror " \
            -DUSE_EXTERNAL_CATCH2=OFF \
            -G Ninja ..
          echo "::endgroup::"
          echo "::group::Build"
          ninja -k0
          echo "::endgroup"
          echo "::group::Run tests"
          ctest --output-on-failure
          echo "::endgroup::"
          echo "::group::Install"
          ninja install
          echo "::endgroup::"
